/* --- Widget-Specific Styles --- */

.progress-circle {
	padding-right: 4px;
}

/* Common padding for several widgets */
.weather-widget,
.battery-widget,
.wifi-widget,
.volume-widget,
.traffic-widget,
.disk-widget,
.memory-widget,
.cpu-widget,
.brightness-widget {
	padding: 0 5px;
}

/* AI Widget */
.ai-widget {
	padding: 0 4px;
	margin: 0;
}
.ai-widget .widget-container {
	margin: 4px 0;
	border-radius: 12px;
}
.ai-widget .icon {
	color: var(--blue);
	padding: 0 5px;
	font-size: 16px;
	margin: 0;
	font-weight: bold;
}
.ai-widget .icon:hover {
	color: #fff;
}

/* Apps Widget */
.apps-widget {
	padding: 0 4px 0 2px;
}
.apps-widget .label {
	font-size: 14px;
	padding: 0 2px;
	color: var(--foreground-color);
}
.apps-widget .widget-container .label {
	font-size: 15px;
}

/* Battery Widget */
.battery-widget .icon {
	margin-right: 6px;
	color: var(--foreground-color);
}

/* Brightness Widget */
.brightness-widget {
	margin-right: -10px;
	margin-top: 2.4px;
}
.brightness-widget .icon {
	color: var(--peach);
	font-size: 16px;
	margin-right: 4px;
}

/* Cava Widget */
.cava-widget {
	padding: 0;
	margin: 0;
}

/* Clock Widget */
.clock-widget .icon {
	color: var(--lavender);
	margin-right: 4px;
	font-size: 18px;
}

/* CPU Widget */
.cpu-widget .widget-container .icon {
	color: var(--red);
	font-size: 22px;
	margin-right: 4px;
	padding: 0 10px;
}

/* Disk Widget */
/* .disk-widget .widget-container .label {
	font-size: 15px;
	color: var(--foreground-color);
} */

.disk-widget .icon {
	font-size: 15px;
	color: var(--red);
}

/* Github Widget */
.github-widget .icon {
	font-size: 16px;
	color: var(--foreground-color);
}

/* Home Widget */
.home-widget .label {
	font-weight: bold;
}
.home-widget .icon {
	font-size: 16px;
	padding: 0 0 0 12px;
	color: var(--mauve);
}
.home-widget .icon:hover {
	color: var(--pink);
}

/* Komorebi & GlazeWM Workspaces */
.komorebi-workspaces,
.glazewm-workspaces {
	padding: 0;
}
.komorebi-workspaces .offline-status,
.glazewm-workspaces .offline-status {
	color: var(--foreground-color);
	font-size: 12px;
	padding: 0 4px;
	font-weight: 600;
}
.komorebi-workspaces .ws-btn,
.glazewm-workspaces .ws-btn {
	color: transparent;
	width: 10px;
	height: 10px;
	background-color: var(--active-color);
	border-radius: 5px;
	margin: 0 2px;
	font-size: 1px;
}
.komorebi-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn:hover {
	background-color: var(--hover-color);
}
.komorebi-workspaces .ws-btn.populated,
.glazewm-workspaces .ws-btn.populated {
	background-color: var(--active-color);
}
.komorebi-workspaces .ws-btn.active,
.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty {
	color: transparent;
	background-color: var(--icon-color);
	width: 36px;
}

/* Komorebi Active Layout */
.komorebi-active-layout {
	padding: 0 4px;
}
.komorebi-active-layout .label {
	font-weight: 600;
	padding-bottom: 2px;
}

/* GlazeWM Tiling Direction */
.glazewm-tiling-direction {
	background-color: transparent;
	padding: 0;
	margin: 4px 0;
}
.glazewm-tiling-direction .btn {
	font-size: 14px;
	width: 14px;
	padding: 0 4px 0 12px;
	color: var(--foreground-color);
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2px;
}
.glazewm-tiling-direction .btn:hover {
	background-color: var(--hover-color);
}

/* Media Widget */
.media-widget .label,
.media-widget .label.alt {
	font-style: italic;
}

/* Memory Widget */
.memory-widget .icon {
	font-size: 18px;
	color: var(--mauve);
	padding: 0 5px;
}

/* Power Menu Widget */
.power-menu-widget .label {
	font-size: 22px;
}

/* Traffic Widget */
.traffic-widget .download,
.traffic-widget .upload {
	margin-right: 4px;
	font-size: 16px;
	font-weight: bold;
}
.traffic-widget .download {
	color: var(--green);
}
.traffic-widget .upload {
	color: var(--red);
}

/* Uptime Widget */
.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	color: var(--foreground-color);
	font-weight: 600;
}

/* VSCode Widget */
.vscode-widget .icon {
	font-size: 18px;
}
.vscode-widget .widget-container .icon {
	color: var(--blue);
}

.twitter-widget .icon {
	font-size: 18px;
	color: #1da1f2;
}

.discord-widget .icon {
	font-size: 16px;
	color: #ffffff;
}

.steam-widget .icon {
	font-size: 16px;
	color: #ffffff;
}

/* Volume Widget */
.volume-widget .icon {
	color: var(--sapphire);
	margin: 1px 2px 0 0;
	font-weight: bold;
}

/* Wallpapers Widget */
.wallpapers-widget .icon {
	color: var(--foreground-color);
	font-size: 14px;
	margin: 0;
}

/* Weather Widget */
.weather-widget .icon {
	font-size: 18px;
	font-weight: bold;
	color: var(--maroon);
	margin: 0 4px 1px 0;
}

/* WHKD Widget */
.whkd-widget {
	padding: 0 6px;
}
.whkd-widget .icon {
	font-size: 14px;
	color: var(--foreground-color);
}

/* WiFi Widget */
.wifi-widget .widget-container .label {
	font-size: 15px;
	padding: 0 12px 0 0;
	color: var(--lavender);
}

/* Power Plan Widget */
.power-plan-widget {
	padding: 0 6px 0 6px;
}
.power-plan-widget .label {
	font-size: 12px;
}
.power-plan-widget .icon {
	font-size: 14px;
}

.power-plan-menu {
	background-color: var(--blurs);
}
.power-plan-widget .icon {
	padding-right: 4px;
}

/* Balanced Icon & Label */
.power-plan-widget .icon.balanced {
	color: var(--blue);
}
.power-plan-widget .label.balanced {
	color: var(--sky);
}

/* High Performance Icon & Label */
.power-plan-widget .icon.high-performance {
	color: var(--peach);
}
.power-plan-widget .label.high-performance {
	color: var(--yellow);
}

/* Power Saver Icon & Label */
.power-plan-widget .icon.power-saver {
	color: var(--green);
}
.power-plan-widget .label.power-saver {
	color: var(--teal);
}

/* Ultimate Performance Icon & Label */
.power-plan-widget .icon.ultimate-performance {
	color: var(--red);
}
.power-plan-widget .label.ultimate-performance {
	color: var(--pink);
}

/* AI */
.ai-chat-widget {
	padding: 0 6px 0 6px;
}
.ai-chat-widget .icon {
	color: #89b4fa;
	font-size: 18px;
}

/* Spotify Widget */
.spotify-widget .icon {
	font-size: 16px;
}
.spotify-widget .widget-container .icon {
	color: #1ed760;
}
